body{
    font-family: "Prompt";
}

h1{
    
    font-weight: 500;
    font-style: normal;
}
label{
    font-family: "Noto Sans Thai";
}
:placeholder-shown{
    font-family: "Noto Sans Thai";
}
button{
    font-family: "Prompt";
    font-weight: 500;
    font-style: normal;
}